
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="mb-4 txtStyle">About Me</h2>
				<img src="~/Images/profile2.jpg" alt="author" class="img-fluid w-100 mb-4">
				<h3 class="font-weight-light">Hello, I’m <span class="font-weight-bold txtStyle">Angelica Velez</span></h3>
				<p class="txtStyle">
					I am a developer located in Chattanooga, TN - Married and living with three rambunctious cats! <br />
					Looking for a change, I started a new career in software development - combining my love to create 
					with the need to find a career with endless opportunities just waiting to be discovered. <br />
					My main focus is creative and attractive solutions to front end design, while also delivering functional and effective code. <br />
					My hobbies include various arts and crafts, excessive late night reading (any horror fans?), jaunts in nature and enjoying time with my 
					family. <br />
					I started this blog, not only to test my learning on how to build an engaging website, but also to dedicate time to 
					writing out my mental journey through learning to code. <br />
					Thanks for stopping in, hope you enjoy this blog and I can't wait to get to know you better! 

				</p>
			</div>
		</div>
	</div>
</section>
